.root {
    -fx-background-image: url("@/../../../../../../../images/logos.png");
}

.button {
    -fx-font-family: "Times New Roman";
    -fx-font-wegiht: bold;
}

.menu-button {
    -fx-background-color: rgba(50,50,50,0.6);
    -fx-text-fill: rgba(200,200,200,0.9);
    -fx-font-size: 24px;
}

.menu-button:hover {
    -fx-background-color: rgba(50,50,50,0.8);
    -fx-text-fill: rgba(240,240,240,0.95);
}

.playersname-label {
    -fx-text-color: rgba(0,0,100,0.6);

    -fx-font-size: 28px;
    -fx-text-aligment: center;
}

.playersname-label:hover {
    -fx-background-color: rgba(50,50,50,0.8);
    -fx-text-color: rgba(0,240,0,0.9);
}

.playersnumber-label {
    -fx-background-color: rgba(50,50,50,0.8);
    -fx-text-fill: rgba(240,0,0,0.9);
    -fx-font-size: 30px;
    -fx-text-aligment: right;
}

.IPAddress-field {
    -fx-text-fill: rgba(20,20,20,0.9);
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.ping-label {
    -fx-text-fill: rgba(0,0,100,0.7);
    -fx-font-size: 14px;
}