/* Main classes */

.root {
    -fx-background-image: url("@/../../images/logos.png");
}

.button {
    -fx-font-family: "Times New Roman";
    -fx-font-wegiht: bold;
}

.menu-button {
    -fx-background-color: rgba(50,50,50,0.6);
    -fx-text-fill: rgba(200,200,200,0.9);
    -fx-font-size: 24px;
}

.menu-button:hover {
    -fx-background-color: rgba(50,50,50,0.8);
    -fx-text-fill: rgba(240,240,240,0.95);
}
