@import url("base.css");

/* Game classes */

#game-primary-pane {
    -fx-background-image: url("@/../../images/backgroundmap.jpg");
}

.game-map-pane {
    -fx-background-color: brown;
}

.scores-pane {
    -fx-background-color: transparent;
    -fx-background-image: url("@/../../images/frame.png");
}

.score-label {
    -fx-font-size: 28px;
    -fx-font-weight: bolder;
    -fx-text-fill: white;

}

.players1-image-pane {
     -fx-background-image: url("@/../../images/Blocks/playerBlock4.png");
 }

.players2-image-pane {
    -fx-background-image: url("@/../../images/Blocks/playerBlock3.png");
}

.players3-image-pane {
    -fx-background-image: url("@/../../images/Blocks/playerBlock1.png");
}

.players4-image-pane {
    -fx-background-image: url("@/../../images/Blocks/playerBlock2.png");
}