@import url("base.css");

/* Lobby classes */

.playersname-label {
    -fx-text-fill: rgb(129, 149, 246);
    -fx-background-color: rgba(50,50,50,0.8);
    -fx-font-size: 28px;
    -fx-text-aligment: center;
    -fx-border-style: solid;
    -fx-border-color: rgba(255, 255, 255, 0.72);
}

.playersname-label:hover {
    -fx-background-color: rgba(152, 152, 152, 0.8);
    -fx-text-fill: rgba(0, 51, 0, 0.9);
}

.playersnumber-label {
    -fx-background-color: rgba(50,50,50,0.8);
    -fx-text-fill: rgb(129, 149, 246);
    -fx-font-size: 30px;
    -fx-text-aligment: right;
}

.highscores-pane-color {
    -fx-background-color: red;
    -fx-stroke: black;
    -fx-border-radius: 10;
}

.ready-button {
    -fx-text-fill: rgb(246, 236, 39);
    -fx-background-color: rgba(30,90,50,0.8);
    -fx-font-size: 20px;
    -fx-border-style: solid;
    -fx-border-color: rgba(255, 255, 255, 0.72);
}

.ready-button:hover {
    -fx-background-color: rgba(130,190,150,0.8);
    -fx-text-fill: rgb(142, 39, 19);
}

.ready-button:selected {
    -fx-background-color: rgba(30,30,30,0.8);
}

.IPAddress-field {
    -fx-text-fill: rgba(20,20,20,0.9);
    -fx-font-size: 24px;
}

.Port-field {
    -fx-text-fill: rgba(20,20,20,0.9);
    -fx-font-size: 24px;
}

.ping-label {
    -fx-text-fill: rgba(0,0,100,0.7);
    -fx-font-size: 14px;
}